.cardContainer {
  padding: 10px;
  width: 50%;
  max-width: 450px;
  min-width: 310px;
}
.cardContainer .title {
  margin-left: 10px;
  color: white;
}
.card {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 15px;
  border-radius: 10px;
}
.question {
  font-size: 17px;
  font-weight: bolder;
  color: rgb(44, 59, 106);
  margin: 0px;
}
.counterContainer {
  display: flex;
  justify-content: space-between;
  height: 15px;
}
.counter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffa304;
  border: 2px white solid;
  top: -40px;
  right: 2px;
  width: 50px;
  height: 50px;
  font-size: 50px;
  background: rgb(65, 83, 155);
  border-radius: 60px;
  padding: 2px;
}
.answers {
  margin-top: 5px;
  display: flex;
  height: 280px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.answers button {
  width: 100%;
  height: 45px;
  text-align: left;
  border: 2px rgb(80, 107, 190) solid;
  color: rgb(80, 107, 190);
  background: none;
  border-radius: 10px;
  font-size: 20px;
}
.buttonhov:hover {
  background-color: #ffb004;
  color: white;
  border: none;
  cursor: pointer;
  border: 2px #ffb004 solid;
}
.answers button span {
  width: 30px;
  margin-left: 6px;
  margin-right: 50px;
}
.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  transition: 200ms;
}
.next {
  background: #ffa304;
  border: none;
  width: 90px;
  height: 40px;
  font-size: 17px;
  color: white;
  border-radius: 10px;
}
.retry {
  background: rgb(255, 0, 0);
}
.next:hover {
  opacity: 0.9;
  cursor: pointer;
}
/* Correct and Incorrect */
.answers .correct {
  background: rgb(81, 250, 121);
  border: rgb(81, 250, 121);
  color: white;
  transition: 200ms;
}
.answers .incorrect {
  background: rgb(246, 61, 61);
  border: rgb(246, 61, 61);
  color: white;
  transition: 200ms;
}
