.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url(./assets/img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
